<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/feedback.css">
    <link rel="shortcut icon" href="/frame_5.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body style="background-color: #D3BEE4;">
        <div class="menu row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Voltar</div>
                <div class="col"></div>
        </div>
        <div class="feedback row">
            <div class="col-sm-6">
                <img src="feedback.png">
            </div>
            <div class="col-sm-5 formulario">
                <div class="col-">
                    O quê você achou do nosso site? <br>Dê o seu Feedback!
                </div>
                <div class="separacao row"></div> <br>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>