<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/cadastro.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body style="font-family: 'Orbitron';">

    
        <div class="row" style="background-color: #6F4A8E;">
            <div class="col-sm ">
            </div>

            <div class="col-sm-1 ">
                <p class="voltar ">Voltar</p>
            </div>
        </div>
    
        <div class="col separacao"></div>    
            
            <div class="row">
                <div class="col-sm-5 formulario">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 style="margin-left: 50px;">Cadastro</h1>
                    <form class= "form" action="/insere" method="get">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome"><br><br>
                        <label for="senha">Senha:</label>
                        <input type="text" id="senha" name="senha"><br><br>
                        <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
                
                
                <div class="col-sm backesquerdo">
                    
            
                </div>

            </div>
        </div>
   
       
    

    
  


</body>
</html>